body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

/* --------Mail------- */

.send-mail-form {
  display: flex;
  flex-direction: column;
}

.send-mail-form * {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  font-family: inherit;
}

.send-mail-form button {
  outline: none;
  color: #fff;
  background-color: #00b7ff;
  cursor: pointer;
}

.table-mail-detail {
  border-collapse: collapse;
}
