<h1>Gửi email</h1>
<form action="" method="post" class="send-mail-form">
  <input
    type="text"
    name="email"
    placeholder="Nhập email nhận thư"
    class="form-input"
  />
  <input
    type="text"
    name="subject"
    placeholder="Nhập tiêu đề"
    class="form-input"
  />
  <textarea
    name="content"
    id=""
    cols="30"
    rows="10"
    placeholder="Nhập nội dung"
  ></textarea>
  <button>Gửi</button>
</form>
<a href="/mail/detail">Chi tiết email đã gửi</a>
